/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

@import 'lxgw-wenkai-screen-webfont/style.css';
body, h1, h2, h3, h4, h5, h6 {
  font-family: "LXGW WenKai Screen R", sans-serif;
}

pre,code {
  font-family: "LXGW WenKai Mono", sans-serif;
}


.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #6e45e2, #88d3ce);
  color: #ffffff;
  text-align: center;
  padding: 2rem;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.subtitle {
  font-size: 1.5rem;
  max-width: 600px;
  margin-bottom: 120px;
}

.quoteButton {
  padding: 12px 24px;
  border-radius: 30px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
}

.quoteButton:hover {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.4)
  );
  transform: translateY(-2px);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.45);
}

.gradientText {
  background: linear-gradient(45deg, #ffffff, #f0e6fa, #e6c2f7, #d183ff);
  background-size: 300% 300%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: gradientAnimation 6s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradientBackground {
  background: linear-gradient(135deg, #6e45e2 0%, #b39ddb 100%);
  color: white;
  padding: 4rem 0;
}

.frostedBackground {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
}

.colorfulBackground {
  background: linear-gradient(
    45deg,
    rgba(255, 105, 180, 0.6),
    rgba(100, 149, 237, 0.6)
  );
  backdrop-filter: blur(5px);
  transition: all 0.3s ease;
}

.colorfulBackground:hover {
  background: linear-gradient(
    45deg,
    rgba(255, 105, 180, 0.8),
    rgba(100, 149, 237, 0.8)
  );
}

.glassButton {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid; /* 模拟光标 */
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
